<!doctype html>
<html class="no-js" lang="">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <base href="/" />
        <link rel="stylesheet" href="css/microsite-icon.css" />
        <link rel="stylesheet" href="css/main.css" />
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="js/vendor.bundle.js"></script>
    <script type="text/javascript" src="js/polyfills.bundle.js"></script>
    <script type="text/javascript" src="js/app.bundle.js"></script>
</body>
</html>