@font-face {
  font-family: 'GnuolaneRg-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('GnuolaneRg-Regular'), url('/fonts/gnuolanerg.woff') format('woff');
}


@font-face {
  font-family: 'AkzidenzGroteskBE-Bold';
  src: local('AkzidenzGroteskBE-Bold'), url('/fonts/AkzidenzGroteskBE-Bold.eot?#iefix') format('embedded-opentype'),  url('/fonts/AkzidenzGroteskBE-Bold.otf')  format('opentype'),
  url('/fonts/AkzidenzGroteskBE-Bold.woff') format('woff'), url('/fonts/AkzidenzGroteskBE-Bold.ttf')  format('truetype'), url('/fonts/AkzidenzGroteskBE-Bold.svg#AkzidenzGroteskBE-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
