<!doctype html>
<html class="no-js" lang="">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <base href="/" />
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="js/polyfills.bundle.js"></script>
    <script type="text/javascript" src="js/vendor.bundle.js"></script>
    <script type="text/javascript" src="js/app.bundle.js"></script>
</body>
</html>